body {
  min-height: 75rem;
  padding-top: 4.5rem;
}


@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body {
  min-height: 75rem;
  padding-top: 4.5rem;
}

.body-dashboard {
  padding-left: 55px;
  padding-right: 55px;
  padding-top: 75px;
  padding-bottom: 55px;
  overflow: auto;

}

.button-pesquisa {
  width: 300px;
}



.profile-container {
  width: 100%;
  max-width: 1180px;
  padding: 0 30px;
  margin: 32px auto;
}